.header-nav {
    background: #0D2C54;
    height: auto;
    width:100%;
}

.header-h1 {
    display: inline-block;
    padding: 1.45rem 1.0875rem .5rem 1.0875rem;
}
.header-button-wrapper {
    display: inline-block;
}

.header-hamburger {
    display: none;
}

.header-hamburger-div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: block;
}

@media only screen and (max-width: 800px) {
    [class*="header-button-wrapper"] {
        display: none;
    }

    [class="header-hamburger"] {
        display: inline-block;
        position: fixed;
        right: .3rem;
        top: .3rem;  
    }
  }
  

.header-button {
    color: #F6F7EB;
    text-decoration: none;
    padding: 1.45rem 1.0875rem;
}

.hamburger-header-button{
    text-align: center;
    display: block;
    color: #F6F7EB;
    text-decoration: none;
    padding: 1.45rem 1.0875rem;
}

.header-nav a:hover {
    background-color: #23C9FF;
    border-radius: .35rem;
}